#footer {
    width: min(100% - 2rem, 1200px);
    margin: auto;
    color: var(--ghost-white);
}

.footer-container {
    width: 100%;
    height: min(fit-content, 5vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--ghost-white);
    padding-inline: clamp(1rem, 5%, 2rem);
    padding-block: clamp(1rem, 5%, 2rem);
}

#footer .section-title {
    font-size: 1.25rem;
    align-items: center;
    padding: 1rem 1.25rem;
    line-height: 1.5rem;
    ;
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

footer .section-content {
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: .625rem;
}

.links-container-footer a {
    display: flex;
    align-items: center;
    transition: all .3s ease;
    border-radius: 50%;
}

.links-container-footer a:hover {
    box-shadow: 0 0 1rem #00bce2A0;
    transform: scale(1.09);
}

.links-container-footer {
    display: flex;
    gap: 1rem;
}

.coffee-icon {
    animation: blink 1s infinite;
}

.footer-text .donwload:hover {
    text-transform: uppercase;
    letter-spacing: .5px;
}

.footer-text .donwload::before {
    content: ">";
    position: absolute;
    left: -1.2ch;
    color: var(--eletric-blue);
    transition: .3s ease;
}

.footer-text .donwload::after {
    content: "<";
    position: absolute;
    color: var(--eletric-blue);
    transition: .3s ease;
}

.footer-text .donwload:hover::before {
    transform: rotateZ(180deg)
}

.footer-text .donwload:hover::after {
    transform: rotateZ(-180deg)
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    40% {
        opacity: 0.6;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #footer .section-content {
        flex-direction: column;
        gap: 1rem;
    }
}