@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Code';
    src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Code';
    src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Code';
    src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Body';
    src: url('../assets/fonts/IBMPlexMono-Medium.ttf');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Body';
    src: url("../assets/fonts/IBMPlexMono-Medium.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Body';
    src: url('../assets/fonts/IBMPlexMono-SemiBold.ttf');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Body";
    src: url("../assets/fonts/IBMPlexMono-SemiBold.ttf");
    font-weight: 600;
    font-style: normal
}


@media (max-width: 1023px) {
    h1 {
        font-size: 4em
    }

    h2 {
        font-size: 36em
    }
}

@media (max-width: 639px) {
    h1 {
        font-size: 3em
    }

    h2 {
        font-size: 2em
    }
}