body {
    background-color: var(--background);
}

header {
    width: 100%;
}

.nav {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    /* left: calc(var(--nav-height) * 0); */
    /* left: 0; */
    /* margin-inline: clamp(.9rem, 3vw, 1.25rem); */
    padding-inline: clamp(0, 3vw, 3rem);
    padding-block: clamp(1rem, 3vh, 2rem);
    min-height: var(--nav-height);
    max-height: calc(var(--nav-height)*16);
    background-color: color-mix(in oklab, var(--almost-black) 80%, transparent);
    border-bottom: 2px solid color-mix(in oklab, var(--lighter-navy) 85%, transparent);
    outline-color: color-mix(in oklab, var(--cyan-bright) 50%, transparent);
    z-index: 50;
}



.main {
    width: 100%;
    padding-top: calc(var(--nav-height)*24)
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: clamp(.5rem, 3vw, 1rem);
    overflow-x: hidden;
}

section {
    width: 100%;
    padding-block: clamp(1rem, 3vw, 3rem);
}

.section-title {
    position: relative;
    padding-left: 1ch;
    margin-bottom: clamp(1.5rem, 3vw, 3rem);
}

.section-title::before {
    content: ">";
    position: absolute;
    left: 0;
    font-family: var(--font-display);
    color: var(--eletric-blue);
}




/* Tablet */
@media (max-width: 769px) {
    .nav {
        padding-inline: clamp(1rem, 5vw, 3rem);
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: clamp(1.5rem, 4vw, 3rem);
        overflow-x: hidden;
    }

    .content {
        padding-inline: clamp(.625rem 3vw, 1rem);
        gap: 2rem;
    }


}

/* Mobile */
@media (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: clamp(1.5rem, 4vw, 3rem);
        overflow-x: hidden;
    }

    .content {
        flex-direction: column;
        text-align: justify;
    }

    .right-content {
        width: 100%;
        padding-inline: clamp(0, 1vw, .5rem);
        align-items: center;

    }
}