@import url("./reset.css");
@import url("./fonts.css");
@import url("./variables.css");
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./sections/sections.css");
@import url("./sections/hero.css");
@import url("./sections/sobre.css");
@import url("./sections/projects.css");
@import url("./sections/skills.css");
@import url("./sections/contact.css");
@import url('./sections/footer.css');